#phaser {
    display: flex; /* Контейнер остаётся гибким */
    justify-content: center; /* Центрирование канваса */
    align-items: center; /* Центрирование канваса */
    /* Убираем width и height, если они задаются автоматически */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
